* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --second-color: #e2eddf;

    --second-font: "Public Sans";
    --text-color-white: #fff;
    --text-color-black-gray: #575d5e;
    --text-color-black: #152427;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: 173px;
    height: 57px;
    padding: 0 14px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 57px;
    border-radius: 999px;
    border: 1.5px solid var(--primary-color);
    color: var(--text-color-white);
    background: var(--primary-color);
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-heading {
    --max-width: 570px;
    max-width: var(--max-width);
    margin-top: 20px;
    color: var(--text-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.section-heading--rec {
    --right: 20%;
    --bg-rec: var(--text-color-black);
    position: relative;
}

.section-heading--rec::before {
    content: "";
    position: absolute;
    right: var(--right);
    bottom: 19px;
    width: 66px;
    height: 2px;
    background: var(--bg-rec);
}

.section-title {
    position: relative;
    color: var(--text-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    padding-left: 46px;
}

.section-title::before {
    position: absolute;
    display: inline-block;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 1px;
    background: var(--text-color-black);
}

.decor__img {
    z-index: 1;
    position: absolute;
    top: var(--top);
    left: var(--left);
    right: var(--right);
    bottom: var(--bottom);
    rotate: var(--rotate);
}

.desc {
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

/* Header */
.header {
    font-family: var(--second-font);
    margin-top: 28px;
}

.header-top {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
    border-bottom: 1px solid #dddcdc;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    padding: 4px 19px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.navbar__link:hover,
.navbar__link--active {
    color: var(--text-color-black);
}

.navbar__link--active::after {
    position: absolute;
    left: 20px;
    bottom: -28px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

.header__cta {
    margin-left: 70px;
}

/* hero */
.hero {
    position: relative;
    margin-top: 74px;
    padding-bottom: 87px;
    display: flex;
    align-items: center;
}

.hero__content {
    flex-grow: 1;
}

.hero__heading {
    width: 368px;
    color: var(--text-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__desc {
    width: 341px;
    margin-top: 20px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.hero__action {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__action-btn {
    position: relative;
    display: flex;
    align-items: center;
    left: 0;
    margin-left: 36px;
    background-color: #fff;
    border: 1px solid #fff;
}

.hero__action-btn:hover {
    cursor: pointer;
}

.hero__action-icon {
    position: absolute;
}

.hero__action-label {
    color: #152427;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-right: 15px;
    width: 44px;
    height: 43px;
    border-radius: 44px;
    background: #83a17d;
}

.hero-media {
    flex-shrink: 0;
    width: 56%;
}

.hero-media__images {
    display: flex;
    column-gap: 20px;
}

.hero-media__img {
    display: block;
    object-fit: cover;
    width: 202px;
    height: 466px;
    border-radius: 110px;
}

.hero-media__img:nth-child(2) {
    margin-top: 77px;
    box-shadow: #4dbb9a 0px 0px 70px 4px;
}

/* Brand */
.brand {
    margin-top: 42px;
}

.brand__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 85px 20px;
    column-gap: 60px;
    border-radius: 99px;
    background: var(--second-color);
}

.brand-link {
    display: flex;
    align-items: center;
}

.brand__text {
    margin-left: 11px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

.brand__text--bold {
    margin-left: 14px;
    display: inline-block;
    color: #143c3c;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* Service */
.service {
    margin-top: 56px;
    padding: 50px 0;
}

.service__info {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.service__heading {
    margin-top: 12px;
    max-width: 520px;
}

.service__control {
    display: flex;
    column-gap: 17px;
}

.service__control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
}

.service__control-btn:last-child {
    rotate: 180deg;
}

.service__control-btn:hover {
    color: var(--text-color-white);
    background: var(--primary-color);
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 20px;
}

.service-item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__img {
    transform: scale(1.1);
}

.service-item__thumb {
    height: 318px;
    overflow: hidden;
}

.service-item__img {
    width: 370px;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.service-item__body {
    padding: 24px 18px;
}

.service-item__heading {
    color: var(--text-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service-item__desc {
    margin-top: 18px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* About */
.about {
    padding: 50px 0;
    margin-top: 50px;
}

.about__inner {
    position: relative;
    display: flex;
}

.about__head {
    display: flex;
    column-gap: 21px;
    position: relative;
}

.about__img {
    border-radius: 999px;
    width: 286px;
    height: 480px;
    object-fit: cover;
    box-shadow: 0px 0px 70px 4px rgba(77, 187, 154, 0.3);
}

.about__img:first-child {
    margin-top: 77px;
    width: 284px;
}

.about__balance {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 143px;
    height: 144px;
    font-family: var(--second-font);
    padding: 19px 23px;

    border-radius: 8px;
    background: #fff;
    box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
}

.about__balance-heading {
    color: var(--text-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2; /* 100% */
}

.about__balance-label {
    margin: 6px 0 10px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
}

.about__balance-title,
.about__balance-text,
.about-info__text {
    display: inline-block;
    color: var(--text-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-progress {
    position: relative;
    margin: 3px 0;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-progress::after {
    position: absolute;
    display: inline-block;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about__balance-text {
    display: block;
    text-align: right;
}

.about-circle {
    position: relative;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about-circle::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--primary-color);
}

.about-info {
    width: 109px;
    height: 16px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-avatar {
    margin-right: 8px;
}

.about-avatar__img {
    margin-top: 3px;
    margin-left: -9px;
    object-fit: cover;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
}

.about__body {
    margin-left: auto;
    width: 43%;
}

.about__body-desc {
    margin-top: 12px;
}

.about-value {
    margin-top: 36px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about-value__title {
    color: var(--text-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.about-value__label {
    margin-left: 24px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* Process */
.process {
    margin-top: 15px;
    padding: 50px 0;
}

.process__heading {
    --max-width: 477px;
    --right: 0;
}

.process__list {
    margin-top: 81px;
}

.process__item {
    display: flex;
    align-items: center;
    height: 185px;
    padding: 54px 30px;
    background: #ffffff;
    transition: all 0.2s;
    position: relative;
    border-bottom: 1px solid #83a17d;
}

.process__item:hover {
    border-bottom-color: var(--second-color);
    border-radius: 33px;
    background-color: var(--second-color);
}

.process__item:hover .process__item-img {
    display: block;
}

.process__item:hover .process__item-desc {
    display: none;
}

.process__item:hover .process__item-label {
    display: block;
    text-decoration: underline;
}

.process__item-heading {
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 1.6; /* 72.222% */
    margin-right: 49px;
}

.process__item-title {
    color: var(--text-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.2; /* 100% */
}

.process__item-label {
    display: none;
    margin-top: 8px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2; /* 100% */
}

.process__item-desc {
    max-width: 572px;
    margin-left: auto;

    color: #7d8188;
    font-family: var(--second-font);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.process__item-img {
    margin-top: 1px;
    display: none;
    bottom: 0;
    right: 92px;
    position: absolute;
    margin-left: auto;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

/* Project */
.project {
    margin-top: 100px;
    padding: 116px 0 63px;
    background: var(--primary-color);
    position: relative;
}

.project-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__heading {
    margin-top: 0;
    --bg-rec: #83a17d;
    --max-width: 457px;
    color: #e7f9f9;
}

.project__label,
.project__desc {
    margin-bottom: 12px;
    max-width: 570px;
    color: #6a8383;
    font-family: var(--second-font);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.project__label {
    margin-bottom: 0;
    color: #fff;
}

.project__label:hover {
    cursor: pointer;
}

.project__icon {
    color: #80a07b;
    margin-left: 26px;
}

.project__icon:hover {
    transform: translateX(4px);
}

.project-inner {
    margin-top: 65px;
}

.project-inner {
    position: relative;
}

.project-inner__img {
    width: 100%;
    height: 544px;
    object-fit: cover;
}

.project-inner__play {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid transparent;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
}

.project-inner__play:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Feature */
.feature {
    margin-top: 90px;
    padding: 50px 0;
}

.feature__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature__desc {
    margin-top: 20px;
    max-width: 547px;
}

.feature__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature-item {
    text-align: center;
    padding: 80px 40px 74px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: all 0.3s;
}

.feature-item:hover {
    transform: translateY(-59px);
    border: 1.5px solid #fff;
    background: #fff;
    box-shadow: 0 36px 100px 0 rgba(111, 120, 111, 0.2);
}
.feature-item__heading {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4; /* 100% */
}

.feature-item__desc {
    text-align: center;
    max-width: 264px;
    margin-top: 9px;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}

/* Blog */
.blog {
    padding: 50px 0 102px;
    margin-top: 84px;
}

.blog-head__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    margin-top: 10px;
    --max-width: 520px;
    --right: -36px;
}

.blog__desc {
    max-width: 409px;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item__img {
    width: 360px;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
}

.blog-item__body {
    border-radius: 0 0 40px 40px;
    height: 200px;
    padding: 26px 0 12px;
    transition: all 0.3s;
}

.blog-item:hover .blog-item__body {
    padding: 26px 30px 12px;
    border-radius: 0 0 20px 20px;
    background: #fff;
    box-shadow: 0 12px 74px 0 rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__title {
    padding-bottom: 9px;
}

.blog-item:hover .blog-item__box {
    color: #e2eddf;
    background: var(--primary-color);
}

.blog-item__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 26px;
    color: #000;
    font-size: 1rem;
    border-radius: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    background: var(--second-color);
}

.blog-item__title {
    margin-top: 13px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
    padding-bottom: 38px;
    border-bottom: 1px solid #c4c4c4;
}

.blog-item__time {
    text-align: right;
    margin-top: 16px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

/* Footer */
.footer {
    background: var(--primary-color);
    padding: 72px 0 50px;
}

.footer__row {
    display: flex;
    align-items: center;
    column-gap: 70px;
    padding-bottom: 45px;
    border-bottom: 1px solid #295a5a;
}

.footer__column:nth-child(2) {
    margin-left: auto;
}

.footer__column-heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.6;
}

.footer__column-form {
    display: flex;
    align-items: center;
    width: 354px;
    border-bottom: 1px solid #6a8383;
}

.footer__column-input {
    margin-top: 25px;
    padding-bottom: 36px;
    background: transparent;
    outline: none;
    border: none;

    color: var(--Scondery-color-gray, #6a8383);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.2; /* 100% */
}

.footer__column-arrow {
    border: none;
    background-color: transparent;
    color: #c4c4c4;
}

.footer__column-arrow:hover {
    cursor: pointer;
    transform: translateX(4px);
}

.footer__column-title {
    color: var(--text-color-white, #fff);
    font-family: var(--second-font);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.footer__list {
    margin-top: 6px;
}

.footer__item-link {
    color: #6a8383;
    font-family: "Public Sans";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25; /* 225% */
}

.footer__item-link:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-socials {
    padding-top: 47px;
    display: flex;
    column-gap: 22px;
}

.footer-socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbfbfb;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
}

.footer-socials__link:hover {
    background: #a75325;
}

.footer__copyright {
    text-align: center;
    padding-top: 26px;
    color: #6a8383;
    font-family: var(--second-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6; /* 225% */
}
